.course {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__title {
    h2 {
      margin: 0;
      padding: 0;
    }
  }
    &__img-block {
      display: flex;
      align-items: center;
      img {
        align-self: flex-start;
        width: 150px;
        height: 150px;
        background: #ccc;
      }
    }
    &__price {
    }
    &__date {
      display: flex;

    }
    &__description-block {

    }
    &__data {

    }
    &__teachers {

    }
    &__home-work {

    }
    &__scripts {
    }
}
