.course {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  &__title{
    display: flex;
    flex-direction: row;
  }
  &__section {
    display: flex;
  }
  &__img {
    height: 100%;
  }
}
