@import "~Styles/variables.scss";
.course {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  margin: 0 40px;
  &__button{
    background-color: $status-ok;
    margin: 20px 0;
    padding: 20px 30px;
    &:focus {
      background-color: $status-ok-pressed;
    }
  }
  &__description {
    width: 100%;
  }
  fieldset {
    border: 2px solid $grey-blue;

    legend {
    font-weight: 500;
  }
  }

  input {
    width: 200px;
    height: 35px;
    display: block;
    border: none;
    border-bottom: solid 1px $green;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background-size: 200px 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $green 4%) no-repeat -200px 0;
    color: darken($green, 20%);
    &:focus, &:valid {
      box-shadow: none;
      outline: none;
      background-position: 0 0;
      }
  }
  textarea {
    outline: none;
    resize: none;
    margin: 10px;
    width: 95%;
    height: 96px;
    border: 3px solid $grey-blue;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    &::selection {
      background-color: $green;
      color: $white;
    }
  }
  fieldset {
    border-color: $grey-blue;
    legend {
      color: $dark-blue;
      padding: 0 10px;
    }
  }
  &__title{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    input {
      width: auto;
    }
    &__info{
      padding-left: 10px;
      display: flex;
      align-items: center;
      &__message {
        color: $grey-blue;
      }
    }

  }
  &__section {
    display: flex;
    flex: 1 1 0;
    gap: 20px;
    align-items: flex-end;

    span {
      color: $grey-blue;
    }
    &__price {
      display: flex;
      gap: 15px;
      span {
        color: $grey-blue;
        align-self: flex-end;
      }
    }
  }

  &__img {
    height: 100%;
    margin: 10px;
    position: relative;

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__preview {
      max-height: 100px;
      min-height: 100px;
      max-width: 100px;
      min-width: 100px;
      width: auto;
      border: 3px solid $grey-blue;
      background: rgba($grey-blue, 0.3);
    }
  }
}
