@import "~Styles/variables.scss";

.users {
  margin: 20px 40px;

  &__filters {
    margin: 20px 0;
  }
  &__wrapper {
    overflow-x: auto;
  }

  &__table {
    border-collapse: collapse;

    &__head {
      font-weight: 500;
      color: $dark-blue;
      text-align: left;
      background-color: rgba($grey-blue, 0.1);
      padding: 10px 30px;
    }

    &__body {
      td {
        padding: 5px 0 5px 30px;
      }

      &:hover {
        background-color: rgba($grey-blue, 0.5);
        cursor: pointer;
      }

    }
  }
}