@import "~Styles/variables.scss";
.alert {
  &__body{
    box-shadow: 0 1px 1px rgba($grey-blue,0.11),
    0 2px 2px rgba($grey-blue,0.11),
    0 4px 4px rgba($grey-blue,0.11),
    0 6px 8px rgba($grey-blue,0.11),
    0 8px 16px rgba($grey-blue,0.11);
    z-index: 10000;
    margin: 10px;
    padding: 10px;
    width: 300px;
    position: absolute;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);

    &__text {
      text-align: center;
      font: 16px/100% 'IBM Plex Sans';
      font-weight: 300;
      color: $white;
    }
  }
}
.success {
  background: $status-ok;
}
.error {
  background: $status-error;
}
.warning {
  background: $status-warning;
}